@tailwind utilities;

@layer utilities {
  .underline-animate {
    position: relative;
    text-decoration: none;
  }

  .underline-animate::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -0.3em;
    height: 1px;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.2s ease;
  }

  .underline-animate:is(:hover, :focus-visible)::after {
    transform: scaleX(1);
  }
}
